<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action='/register' method='post'>
        <p>
            <input type='text' name='user[name]' placeholder="Username" />
        </p>
        <p>
            <input type='password' name='user[pass]' placeholder="password" />
        </p>
        <p>
            <input type="submit" value='Sign up' />
        </p>
    </form>
</body>
</html>
